<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="icon" type="image/png" href="static/logoback.avif">
    <link rel="stylesheet" href="static/gallery.css">
</head>
<body>
    <div class="container">
        <span style="--i:1"><img src="static/daddy.jpeg" alt=""></span>
        <span style="--i:1"><img src="static/daddy.jpeg" alt=""></span>
        <span style="--i:1"><img src="static/daddy.jpeg" alt=""></span>
        <span style="--i:1"><img src="static/daddy.jpeg" alt=""></span>
        <span style="--i:1"><img src="static/daddy.jpeg" alt=""></span>
    </div>
</body>