<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="static/new_dashboard.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Lawyer Dashboard</title>
    <link rel="icon" type="image/png" href="static/logoback.avif">
</head>
<body>
    <div class="mobile-menu-icon">
        <i class="uil uil-bars" onclick="toggleSidebar()"></i>
    </div>

    <div class="mobile-sidebar" id="mobileSidebar">
        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="{{ url_for('tracker') }}">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Progress Chart</span>
                </a></li>
                <li><a href="{{ url_for('lawyer_profile') }}">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Profile</span>
                </a></li>
                <li><a href="{{ url_for('client_management') }}">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name">Client Management</span>
                </a></li>
                <li><a href="{{ url_for('appointment_management') }}">
                    <i class="uil uil-comments"></i>
                    <span class="link-name">Appointment</span>
                </a></li>
                <li><a href="{{ url_for('meta') }}">
                    <i class="uil uil-share"></i>
                    <span class="link-name">Message</span>
                </a></li>
                <li><a href="{{ url_for('new_video_lawyer') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Video Call</span>
                </a></li>
                <li><a href="{{ url_for('notifications') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Notifications</span>
                </a></li>
                <li><a href="{{ url_for('create_case') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Create Case</span>
                </a></li>
                <li><a href="{{ url_for('create_room_2') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Video_2</span>
                </a></li>
                <li><a href="{{ url_for('case_list') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Case List</span>
                </a></li>
                <li><a href="{{ url_for('case_update',case_id=1) }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Case Update</span>
                </a></li>
                <li><a href="{{ url_for('task_management') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Task Management</span>
                </a></li>
                <li><a href="{{ url_for('show_applications') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Job Apply</span>
                </a></li>
                <li><a href="{{ url_for('billing_invoicing') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Billing & Invoice</span>
                </a></li>
                <li><a href="{{ url_for('payments') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Payments</span>
                </a></li>
                <li><a href="{{ url_for('enquiry_management') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Enquries</span>
                </a></li>
                <li><a href="{{ url_for('create_document') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Editor</span>
                </a></li>
                <li><a href="{{ url_for('upload_document') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Documents</span>
                </a></li>
                <li><a href="{{ url_for('calendar') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Calendar</span>
                </a></li>
                <li><a href="{{ url_for('view_case_notes') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Case Notes</span>
                </a></li>
                <li><a href="{{ url_for('e_signature') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Digital Signature</span>
                </a></li>
                <li><a href="{{ url_for('knowledge_base') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Knowledge Base</span>
                </a></li>
                <li><a href="{{ url_for('law_books') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Books</span>
                </a></li>
            </ul>
            <ul class="logout-mode">
                <li class="sticky"><a href="{{ url_for('lawyer_login') }}">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>
                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>
                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <style>
        .mobile-menu-icon {
            display: none;
            position: fixed;
            top: 10px;
            left: 10px;
            z-index: 1000;
            font-size: 24px;
            cursor: pointer;
        }

        .mobile-sidebar {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            height: 100%;
            background-color: #fff;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            z-index: 999;
            overflow-y: auto;
        }

        @media (max-width: 768px) {
            .mobile-menu-icon {
                display: block;
            }
        }
    </style>

    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('mobileSidebar');
            sidebar.style.display = sidebar.style.display === 'block' ? 'none' : 'block';
        }
    </script>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
               <img src="static/logoback.avif" alt="">
            </div>

            <span class="logo_name">Law House</span>
        </div>
        
        <div class="menu-items">
            <ul class="nav-links">
                <style>
                    .menu-items {
                        overflow-y: auto;
                        max-height: 80vh;
                    }
                </style>
                <li><a href="{{ url_for('tracker') }}">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Progress Chart</span>
                </a></li>
                <li><a href="{{ url_for('lawyer_profile') }}">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Profile</span>
                </a></li>
                <li><a href="{{ url_for('client_management') }}">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name">Client Management</span>
                </a></li>
                <li><a href="{{ url_for('appointment_management') }}">
                    <i class="uil uil-comments"></i>
                    <span class="link-name">Appointment</span>
                </a></li>
                <li><a href="{{ url_for('meta') }}"> <!--meta--> <!--message_management-->
                    <i class="uil uil-share"></i>
                    <span class="link-name">Message</span>
                </a></li>
                <li><a href="{{ url_for('new_video_lawyer') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Video Call</span>
                </a></li>
                <li><a href="{{ url_for('notifications') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Notifications</span>
                </a></li>
                <li><a href="{{ url_for('create_case') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Create Case</span>
                </a></li>
                <li><a href="{{ url_for('case_list') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Case List</span>
                </a></li>
                <li><a href="{{ url_for('create_room_2') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Video_2</span>
                </a></li>
                <li><a href="{{ url_for('case_update',case_id=1) }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Case Update</span>
                </a></li>
                <li><a href="{{ url_for('task_management') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Task Management</span>
                </a></li>
                <li><a href="{{ url_for('show_applications') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Job Apply</span>
                </a></li>
                <li><a href="{{ url_for('billing_invoicing') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Billing & Invoice</span>
                </a></li>
                <li><a href="{{ url_for('payments') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Payments</span>
                </a></li>
                <li><a href="{{ url_for('enquiry_management') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Enquries</span>
                </a></li>
                <li><a href="{{ url_for('create_document') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Editor</span>
                </a></li>
                <li><a href="{{ url_for('upload_document') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Documents</span>
                </a></li>
                <li><a href="{{ url_for('calendar') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Calendar</span>
                </a></li>
                <li><a href="{{ url_for('view_case_notes') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Case Notes</span>
                </a></li>
                <li><a href="{{ url_for('e_signature') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Digital Signature</span>
                </a></li>
                <li><a href="{{ url_for('knowledge_base') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Knowledge Base</span>
                </a></li>
                <li><a href="{{ url_for('law_books') }}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Books</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li class="sticky"><a href="{{ url_for('lawyer_login') }}">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>
                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>
                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            <div class="back-button">
                <a href="{{ url_for('index') }}">
                    <i class="uil uil-arrow-left"></i>
                    <span class="link-name">Back</span>
                </a>
            </div>
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            
            <!--<img src="images/profile.jpg" alt="">-->
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="text">Clients</span>
                        <span class="number">{{ clients|length }}</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="text">Total Cases</span>
                        <span class="number">{{ last_booking_id}}</span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-comments"></i>
                        <span class="text">Completed</span>
                        <span class="number">{{ completed_bookings }}</span>
                    </div>
                    <div class="box box4">
                        <i class="uil uil-share"></i>
                        <span class="text">Pending</span>
                        <span class="number">{{ appointments|length }}</span>
                    </div>
                </div>
            </div>

           <!-- <div class="task-management-section">
                <div class="title">
                    <i class="uil uil-tasks"></i>
                    <span class="text">Task Management</span>
                </div>
                <div class="task-management-container">
                    <p>Manage your tasks, set deadlines, and keep track of progress.</p>

                    <div class="task-list">
                        {% for task in tasks %}
                        <div class="task {% if task.status == 'Pending' %}pending-task{% endif %}">
                            <h3>{{ task.title }}</h3>
                            <p>{{ task.description }}</p>
                            <span class="deadline">Deadline: {{ task.deadline }}</span>
                            <span class="status">Status: {{ task.status }}</span>
                            <a href="{{ url_for('update_task', task_id=task.id) }}" class="update-button">Update</a>
                            <a href="{{ url_for('delete_task', task_id=task.id) }}" class="delete-button">Delete</a>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="add-task-form">
                        <h3>Add New Task</h3>
                        <form action="{{ url_for('add_task') }}" method="POST">
                            <label for="title">Task Title</label>
                            <input type="text" id="title" name="title" required>

                            <label for="description">Description</label>
                            <textarea id="description" name="description"></textarea>

                            <label for="deadline">Deadline</label>
                            <input type="date" id="deadline" name="deadline">

                            <label for="status">Status</label>
                            <select id="status" name="status">
                                <option value="Pending">Pending</option>
                                <option value="In Progress">In Progress</option>
                                <option value="Completed">Completed</option>
                            </select>

                            <button type="submit" class="add-task-button">Add Task</button>
                        </form>
                    </div>
                </div>
            </div>-->
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Appointments</span>
                </div>
                <section class="search-bar">
                    <input type="text" id="searchBar" placeholder="Search by username..." onkeyup="searchAppointments()">
                </section>
                <section class="appointments-list">
                    <ul id="appointmentList">
                        {% if appointments %}
                            <table class="appointment-table">
                                <tr>
                                    <th style="padding-right: 20px;">Name</th>
                                    <th style="padding-right: 20px;">Email</th>
                                    <th style="padding-right: 20px;">Lawyer</th>
                                    <th style="padding-right: 20px;">Date</th>
                                    <th style="padding-right: 20px;">Description</th>
                                    <th style="padding-right: 20px;">Action</th>
                                </tr>
                                {% for appointment in appointments %}
                                <tr>
                                    <td style="padding-right: 20px;">{{ appointment[1] }}</td>
                                    <td style="padding-right: 20px;">{{ appointment[3] }}</td>
                                    <td style="padding-right: 20px;">{{ appointment[2] }}</td>
                                    <td style="padding-right: 20px;">{{ appointment[5] }}</td>
                                    <td style="padding-right: 20px;">{{ appointment[4] }}</td>
                                    <td style="padding-right: 20px;"><a href="{{ url_for('delete_appointment', appointment_id=appointment[0]) }}" class="delete-btn">Delete</a></td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <li>No upcoming appointments.</li>
                        {% endif %}
                    </ul>
                </section>
                <div class="activity">
                    <!--<div class="title">
                        <i class="uil uil-users-alt"></i>
                        <span class="text">Clients</span>
                    </div>
                    <section class="search-bar">
                        <input type="text" id="clientSearchBar" placeholder="Search by client name..." onkeyup="searchClients()">
                    </section>-->
                    <!--<section class="clients-list">
                        <ul id="clientList">
                            {% if clients %}
                                <table class="client-table">
                                    <tr>
                                        <th style="padding-right: 20px;">Name</th>
                                        <th style="padding-right: 20px;">Username</th>
                                        <th style="padding-right: 20px;">email</th>
                                        <th style="padding-right: 20px;">Gender</th>
                                        <th style="padding-right: 20px;">Phone</th>
                                        <th style="padding-right: 20px;">Action</th>
                                    </tr>
                                    {% for client in clients %}
                                    <tr>
                                        <td style="padding-right: 20px;">{{ client.name }}</td>
                                        <td style="padding-right: 20px;">{{ client.username }}</td>
                                        <td style="padding-right: 20px;">{{ client.email }}</td>
                                        <td style="padding-right: 20px;">{{ client.gender}}</td>
                                        <td style="padding-right: 20px;">{{ client.number }}</td>
                                        <td style="padding-right: 20px;"><a href="{{ url_for('delete_client', client_id=client.id) }}" class="delete-btn">Delete</a></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            {% else %}
                                <li>No clients found.</li>
                            {% endif %}
                        </ul>
                    </section>-->
                    
                </div>
                </div>
                </div>
            </div>
        </div>
    </section>

    <script src="static/new_dashboard.js"></script>
</body>
</html>
