<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Documents</title>
    <link rel="icon" type="image/png" href="static/logoback.avif">
</head>
<body>
    <h2>Uploaded Documents</h2>
    <ul>
        {% for doc in documents %}
        <li>
            <a href="{{ url_for('static', filename='uploads/' + doc['filename']) }}">
                {{ doc['filename'] }}
            </a>
            - Uploaded on {{ doc['upload_date'] }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
